<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="org.apache.logging.log4j.core">
    <Properties>
      <Property name="baseDir">sendToDevs/logs</Property>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS}{UTC} %p %c{2}> %m%n</Pattern>
            </PatternLayout>
        </Console>
         <RollingFile name="RollingFile" fileName="${baseDir}/SlayTheSpire.log"
             filePattern="${baseDir}/SlayTheSpire_%d{yyyyMMddHHmm}{UTC}_%i.log.zip">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS}{UTC} %p %c{2}> %m%n</Pattern>
            </PatternLayout>
            <Policies>
              <OnStartupTriggeringPolicy minSize="1"/>
              <SizeBasedTriggeringPolicy size="2 MB"/>
            </Policies>
              <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}">
                  <IfFileName glob="SlayTheSpire*.log.*">
                    <IfAny>
                      <IfAccumulatedFileSize exceeds="10 MB" />
                      <IfAccumulatedFileCount exceeds="15" />
                    </IfAny>
                  </IfFileName>
                </Delete>
              </DefaultRolloverStrategy>
          </RollingFile>
    </appenders>

    <loggers>
        <root level="ALL">
            <appender-ref ref="Console" level="INFO" />
            <AppenderRef ref="RollingFile"/>
        </root>
    </loggers>

</configuration>
